<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Application Config File -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VOD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Log4net" />
  </configSections>
  
  <log4net>
    <root>
      <!--<level value="DEBUG" />-->
      <level value="INFO" />
      
      <appender-ref ref="LogFileAppenderDate" />
      <!--<appender-ref ref="LogFileAppenderSize" />-->
      <!--<appender-ref ref="AdoNetAppender_Oracle" />-->
    </root>
    
    <appender name="LogFileAppenderDate" type="log4net.Appender.RollingFileAppender">
      <file value="..\logs\VOD.log" />
      <!--
      <file type="log4net.Util.PatternString">
        <conversionPattern value="VOD_%date{yyyy-MM-dd}.log" />
      </file>
      -->

      <appendToFile value="true" />
      <staticLogFileName value="false" />
      <rollingStyle value="Date" />
      
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{MM-dd-yyyy hh:mm:ss.fff tt},[%p],%m%n" />
      </layout>

      <!--
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true" />
      </layout>
      -->
    </appender>

    <appender name="LogFileAppenderSize" type="log4net.Appender.RollingFileAppender">
      <file value="VOD.log" />

      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10KB" />

      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{MM-dd-yyyy hh:mm:ss.fff tt},[%p],%m%n" />
      </layout>
    </appender>

    <!--
    <appender name="AdoNetAppender_Oracle" type="log4net.Appender.AdoNetAppender">
      <connectionType value="System.Data.OracleClient.OracleConnection, System.Data.OracleClient, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=fndepdev;User ID=fnuser;Password=fnuser" />
      <commandText value="INSERT INTO FNDEPT.AUTOINDEX_LOG (Datetime,Thread,Log_Level,Logger,Message) VALUES (:log_date, :thread, :log_level, :logger, :message)" />
      <bufferSize value="1" />
      <parameter>
        <parameterName value=":log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value=":thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value=":message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
    </appender>
    -->
  </log4net>
  
  <applicationSettings>
    <VOD.Properties.Settings>
      <setting name="SelectedBorderColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="SelectedTextColor" serializeAs="String">
        <value>#FFFF0000</value>
      </setting>
      <setting name="BackgroundImage" serializeAs="String">
        <value />
      </setting>
      <setting name="DelayAfterCompletionSeconds" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LoopPlayback" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InactiveTimeoutSeconds" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IncludeCurrentMedia" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludeVideos" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludeImages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncludePastMedia" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludeFutureMedia" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TimeDisplayColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="TimeDisplayMode" serializeAs="String">
        <value>12</value>
      </setting>
    </VOD.Properties.Settings>
  </applicationSettings>
  
  <appSettings>
    <!-- Enable Debugging output for log4net -->
    <!--<add key="log4net.Internal.Debug" value="true"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>