<html>
<head>

</head>
<style>

  *{
        margin: 0px;
        padding: 0px;
    }

h1 {
        margin-top: 0px;
    }

</style>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Untitled Document</title>
  
  <style>
      
      #example1, #example2 {
          height: 500px;
          width: 400px;        
      }  
      
      #example1 {
        background: yellow;
      }
      
      #example2 {
        background: blue;
      }
      
     *{
        margin: 0px;
        padding:0px;
      }
      #background_01 {
          width:100%;
          height:100%;
          background: white;
          position:absolute;
          display: none;
      }
  
      #zone_01 {
          left:0px;
          top:0px;
          width:1200px;
          height:800px;
          background:#3F9;
          position:absolute;
          opacity: 1.0;
          z-index: 100;  
      }
  
      #zone_02 {
          left:800px;
          top:400px;
          width:1200px;
          height:800px;
          background:#F66;
          position:absolute;
          z-index: 99;
          
      }
  
      #zone_03 {
          left:1150px;
          top:0px;
          width:800px;
          height:600px;
          position:absolute;
          opacity: 1.0;
          z-index: 101;
      }
  
      #zone_04 {
          left:0px;
          top:500px;
          width:800px;
          height:600px;
          
          position:absolute;
          opacity: 0.6;
          z-index: 102;
      }
  
  body {
      
      margin: 0px; 
      padding: 0px;
  }
  </style>
  
  
  <script>
  var myVar1;
  //background:#FF6;
  //overflow:scroll
  //margin:0 auto;
  //overflow: hidden;

  function displayNextChild(nodeId) 
  {
    
    var node = document.getElementById(nodeId);
    var children = node.getElementsByTagName("img"); //node.childNodes;
    for (var i = 0; i < children.length; i++) 
    {
      
      if (children[i].style.visibility == "visible")
      {
        //alert(children[i]);   
        if (i == children.length - 1 )
          children[0].style.visibility = "visible";
        else
          children[i+1].style.visibility = "visible";
        children[i].style.visibility = "hidden";
        break;
      }
    }
  }
  
  function displayNextVideoChild(nodeId) 
  {
    
    var node = document.getElementById(nodeId);
    var children = node.getElementsByTagName("video"); //node.childNodes;
    for (var i = 0; i < children.length; i++) 
    {
      
      if (children[i].style.visibility == "visible")
      {
        //alert(children[i]);
        if (i == children.length - 1 ){
          children[i].pause();
  
          children[0].play();
          children[0].style.visibility = "visible";
        }else{
          children[i].pause();
  
          children[i+1].play();
          children[i+1].style.visibility = "visible";
        }
        children[i].style.visibility = "hidden";
        break;
      }
    }
  }
  
  var timers = [0,0,0,0];
  
  function start(idx, nodeId, duration) 
  {
    timers[idx] = setInterval(displayNextChild, duration, nodeId);
  }
  
         function myHandler_for_video_in_zone04(e) 
         {
          //if(!e) { e = window.event; }
          //alert("Video Finished in zone 04");
          displayNextVideoChild("zone_04"); 
         }
  
  function stopAll() 
  {
    for (var i = 0 ; i < timers.length ; i++)
    {
       if (timers[i] != 0)
       {
         clearInterval(timers[i]) ;
         timers[i] = 0;
       }
  
    }
    document.getElementById('btnStop').innerHTML="Start Playback";
    document.getElementById('background_01').style.display="none";
    document.getElementById('bodyid').style.overflow="auto";
    document.getElementById('divstopid').style.position="static";
         
  }
  
  function startAll() 
  {
    start(0, 'zone_01', 5000); 
    start(1, 'zone_02', 7000);
    start(2, 'zone_03', 12000);
    start(3, 'zone_04', 17000);
    document.getElementById('btnStop').innerHTML="Stop Playback";
    document.getElementById('background_01').style.display="block";
    document.getElementById('bodyid').style.overflow="hidden";
    document.getElementById('divstopid').style.position="absolute";
  }
  
  function restart() 
  {
    if (document.getElementById('btnStop').innerHTML == "Start Playback")  
      startAll();
    else
      stopAll();
  }
  
  </script>
  
  
</head>

<body id="bodyid">

  <link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">
  <script src="https://unpkg.com/video.js/dist/video.js"></script>
  <script src="https://unpkg.com/videojs-flash/dist/videojs-flash.js"></script>
  <script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>

  <div id="divstopid" style="z-index:910; position:static;" >
    <button id="btnStop" onclick="restart()">Start Playback</button>
  </div>
  
   <div id="background_01"  >
     
      <div id="zone_01" >
  
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/greenpeople.jpg" alt="a person entering a building" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:visible" />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201508/new-butterflies-jammu-kashmir-police-and-headwoman--4_647_081715081726.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/entrance.jpg" alt="photo of building across from our office" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201508/new-butterflies-jammu-kashmir-police-and-headwoman--4_647_081715081726.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/bluepeople.jpg" alt="building entrance with neon backlit walls" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201508/new-butterflies-jammu-kashmir-police-and-headwoman--4_647_081715081726.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/reflection3.jpg" alt="building lobby window reflections" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201508/new-butterflies-jammu-kashmir-police-and-headwoman--4_647_081715081726.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/reflection2.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201508/new-butterflies-jammu-kashmir-police-and-headwoman--4_647_081715081726.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/manequine.jpg" alt="two manequines in window" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201508/new-butterflies-jammu-kashmir-police-and-headwoman--4_647_081715081726.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
     </div>
  
     <div id="zone_02">     
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/reflection3.jpg" alt="building lobby window reflections" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:visible"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201508/new-butterflies-jammu-kashmir-police-and-headwoman--4_647_081715081726.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/reflection2.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201508/new-butterflies-jammu-kashmir-police-and-headwoman--4_647_081715081726.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/manequine.jpg" alt="two manequines in window" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201508/new-butterflies-jammu-kashmir-police-and-headwoman--4_647_081715081726.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/greenpeople.jpg" alt="a person entering a building" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden" />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201508/new-butterflies-jammu-kashmir-police-and-headwoman--4_647_081715081726.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/entrance.jpg" alt="photo of building across from our office" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201508/new-butterflies-jammu-kashmir-police-and-headwoman--4_647_081715081726.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/bluepeople.jpg" alt="building entrance with neon backlit walls" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
        <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201508/new-butterflies-jammu-kashmir-police-and-headwoman--4_647_081715081726.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 1200px; height: 800px; visibility:hidden"  />
     </div>
  
  
     <div id="zone_03">     
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/reflection2.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:visible"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://blog.jorjette.ro/wp-content/uploads/2013/08/fluturele-monarh-460x300.jpg" alt="photo of building across from our office" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/manequine.jpg" alt="two manequines in window" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://blog.jorjette.ro/wp-content/uploads/2013/08/fluturele-monarh-460x300.jpg" alt="photo of building across from our office" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/greenpeople.jpg" alt="a person entering a building" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden" />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/entrance.jpg" alt="photo of building across from our office" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://blog.jorjette.ro/wp-content/uploads/2013/08/fluturele-monarh-460x300.jpg" alt="photo of building across from our office" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/bluepeople.jpg" alt="building entrance with neon backlit walls" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://blog.jorjette.ro/wp-content/uploads/2013/08/fluturele-monarh-460x300.jpg" alt="photo of building across from our office" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/reflection3.jpg" alt="building lobby window reflections" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://blog.jorjette.ro/wp-content/uploads/2013/08/fluturele-monarh-460x300.jpg" alt="photo of building across from our office" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
  
    </div>
  
     <div id="zone_04">     
        <img src="https://blog.jorjette.ro/wp-content/uploads/2013/08/fluturele-monarh-460x300.jpg" alt="photo of building across from our office" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:visible"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/entrance.jpg" alt="photo of building across from our office" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://blog.jorjette.ro/wp-content/uploads/2013/08/fluturele-monarh-460x300.jpg" alt="photo of building across from our office" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/bluepeople.jpg" alt="building entrance with neon backlit walls" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/reflection3.jpg" alt="building lobby window reflections" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://blog.jorjette.ro/wp-content/uploads/2013/08/fluturele-monarh-460x300.jpg" alt="photo of building across from our office" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/reflection2.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://blog.jorjette.ro/wp-content/uploads/2013/08/fluturele-monarh-460x300.jpg" alt="photo of building across from our office" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/greenpeople.jpg" alt="a person entering a building" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden" />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://blog.jorjette.ro/wp-content/uploads/2013/08/fluturele-monarh-460x300.jpg" alt="photo of building across from our office" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://raw.githubusercontent.com/mcnitt/jquery-infinite-rotator/master/images/manequine.jpg" alt="two manequines in window" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
        <img src="https://i.ytimg.com/vi/uvIjOu5n_kE/maxresdefault.jpg" alt="reflection on building windows" class="rotating-item" style="position: absolute; width: 800px; height: 600px; visibility:hidden"  />
     </div>

  </div>
  
  <script type="text/javascript">
      //startAll();
      //start(0, 'zone_01', 5000); 
      //start(1, 'zone_02', 7000);
      //start(2, 'zone_03', 12000);
      //start(3, 'zone_04', 17000);
  
  </script>
  
  
  <script>

    var global_SDKRenderer =
    {
      displayFolderFileList  : function(){},

      displayFile            : function(){},
      displayNewFile         : function(){},
      eraseDisplayFile       : function(){},
      saveFile               : function(){},
      
      displayDeleteFile      : function(){},
      eraseDisplayDeleteFile : function(){},
      deleteFile             : function(){},

      displayCopyFile        : function(){},
      eraseDisplayCopyFile   : function(){},
      copyFile               : function(){},

      displayMoveFile      : function(){},
      eraseDisplayMoveFile : function(){},
      moveFile             : function(){},

      displayDownloadFile    : function(){},
      eraseDisplayDownloadFile : function(){},
      downloadFile             : function(){},

      displayUploadFile        :  function(){},
      eraseDisplayUploadFile   : function(){},
      uploadFile               : function(){},

      displayUnzipFile         : function(){},
      eraseDisplayUnzipFile    : function(){},
      unzipFile                : function(){},

      displayZipFile           : function(){},
      eraseDisplayZipFile      : function(){},
      zipFile                  : function(){},


      //--- folder functions
      displayNewFolder      : function(){},
      eraseDisplayNewFolder : function(){},
      createFolder          : function(){},

      displayDeleteFolder   : function(){},
      eraseDisplayDeleteFolder : function(){},
      deleteFolder          : function(){},

      displayCopyFolder      : function(){},
      eraseDisplayCopyFolder : function(){},
      copyFolder             : function(){},

      displayMoveFolder      : function(){},
      eraseDisplayMoveFolder : function(){},
      moveFolder             : function(){},

      displayZipFolder         : function(){},
      eraseDisplayZipFolder    : function(){},
      zipFolder                : function(){},

      //------------------
      start_display_imageFile  : function(){},
      erase_display_imageFile  : function(){},

      start_display_videoFile  : function(){},
      erase_display_videoFile  : function(){},

      start_display_streamFile  : function(){},
      erase_display_streamFile  : function(){},

      start_display_flashFile  : function(){},
      erase_display_flashFile  : function(){},

      start_display_msdocFile  : function(){},
      erase_display_msdocFile  : function(){},

      start_display_msexcelFile  : function(){},
      erase_display_msexcelFile  : function(){},

      //-------------
      displayComputeAndSaveShaFile      : function(){},
      eraseDisplayComputeAndSaveShaFile : function(){},
      computeAndSaveShaFile             : function(){},

      //-------------
      displayLogRenderer                : function(){},
      hideLogRenderer                   : function(){},
      eraseLogRenderer                  : function(){},
      viewLogFile                       : function(){},
      closeViewLogFile                  : function(){},

      //---------------
      displayHardwareSettings        : function(){},
      closeHardwareSettings          : function(){},

      //---------------
      displayOpeningHours            : function(){},
      closeOpeningHours              : function(){},

    } ;
  </script>
  
<div id="maindiv" style="background-color:yellow;color:blue"></div>

<div id="testreadfile" style="background-color:yellow;color:blue"></div>

<img id="testimg" style="background-color:yellow;color:blue"></img>


<script src="socket.io.js"></script>
<!-- <script src="/client/client.js"></script> -->
<script src="require.js" data-main="client/client.js"></script>  

<div id="log.renderer" style="background-color:lightblue; color:blue;"></div>  

<div id="sdk.renderer">
  <div id="sdk.message" style="background-color:lightblue;color:blue"></div>
  <div id="sdk.error"  style="background-color:yellow;color:red"></div>  

  <div id="sdk.filesystem-renderer" style="background-color:yellow;color:blue">
    <div id="sdk.filesystem-renderer.display-unzipfile"   style="background-color:yellow;color:blue"></div>  
    <div id="sdk.filesystem-renderer.display-zipfile"     style="background-color:yellow;color:blue"></div>  
    <div id="sdk.filesystem-renderer.display-zipfolder"   style="background-color:yellow;color:blue"></div>  
    <div id="sdk.filesystem-renderer.display-downloadfile"  style="background-color:yellow;color:blue"></div>  
    <div id="sdk.filesystem-renderer.display-uploadfile"  style="background-color:yellow;color:blue"></div>  
    <div id="sdk.filesystem-renderer.display-movefile"  style="background-color:yellow;color:blue"></div>  
    <div id="sdk.filesystem-renderer.display-movefolder"  style="background-color:yellow;color:blue"></div>  
    <div id="sdk.filesystem-renderer.display-copyfile"  style="background-color:yellow;color:blue"></div>  
    <div id="sdk.filesystem-renderer.display-copyfolder"  style="background-color:yellow;color:blue"></div>  
    <div id="sdk.filesystem-renderer.display-deletefile"  style="background-color:yellow;color:blue"></div>  
    <div id="sdk.filesystem-renderer.display-deletefolder"  style="background-color:yellow;color:blue"></div>  
    <div id="sdk.filesystem-renderer.displayfile"   style="background-color:yellow;color:blue"></div>  
    <div id="sdk.filesystem-renderer.display-computefilesha" style="background-color:yellow;color:blue"></div>  
    <div id="sdk.filesystem-renderer.displayimage"   style="background-color:yellow;color:blue"></div>  
    <div id="sdk.filesystem-renderer.displayvideo"   style="background-color:yellow;color:blue"></div>  
    <center>
      <video id="sdk.filesystem-renderer.video" 
             class="video-js  vjs-default-skin"  
             style="object-fit:fill;width:960;height:540;display:none;" 
             preload controls playsinline>
        <source
           src=""
           type="application/x-mpegURL">
      </video>
    </center>
    <center>
      <video id="sdk.filesystem-renderer.video2" 
             style="object-fit:fill;width:960;height:540;display:none;" 
             preload controls playsinline>
        <source
           src=""
           type="video/mp4">
      </video>
    </center>
    <div id="sdk.filesystem-renderer.displaystream"   style="background-color:yellow;color:blue"> </div>
    <div id="sdk.filesystem-renderer.displayfolder" style="background-color:yellow;color:blue"></div>  
    <div id="sdk.filesystem-renderer.display-xmlhardwaresettings" style="background-color:yellow;color:blue"></div>  
    <div id="sdk.filesystem-renderer.display-xmlopeninghours" style="background-color:yellow;color:blue"></div>  
    <div id="sdk.filesystem-renderer.mainmenu" style="background-color: lightgray;color:blue"></div>  
    <div id="sdk.filesystem-renderer.filelist" style="background-color:yellow;color:blue"></div>
  </div>

</div>

<!-- 
<button onClick="getFileList()">getFileList</button>

<button onClick="sendMessage()">getMessage</button>


  <script src="socket.io.js"></script>
<script>
  const socket = io("http://localhost:3000");


  function getFileList() 
  {
    var params = {
      "pathFullName" : "C:\\W\\80\\Mood.MVisionJsPlaybackEngine\\deploy\\node.js\\10.15.3LTS\\public"
    };
    socket.emit('get-file-list', params);//"C:\\W\\80\\Mood.MVisionJsPlaybackEngine\\deploy\\node.js\\10.15.3LTS\\public");
  };

  socket.on('ret-get-message', function(msg) 
  {
    console.log("msg:", msg);
    document.getElementById("filesystem").innerHTML += "<p>ret-get-message</p>" + msg;
  });

  socket.on('ret-get-file-list', function(ctx) 
  {
    console.log("id:", ctx);
    strFileSystem = "";
    //strFileSystem += "<p>ret-get-file-list</p><p>" + JSON.stringify(ctx) + "</p>";
    //strFileSystem += "<h3> +
    strFileSystem += "<table width='60%' >"+
                                                         "<tr width='100%' >" +
                                                           '<td width="10%"><b><input type="checkbox" value="" ng-model="FM.selectAll"></b></td>' +
                                                           '<td width="10%"><b>Type</b></td>' +
                                                           '<td width="40%"><b>Name</b></td>' +
                                                           '<td width="20%"><b>Size</b></td>' +
                                                           '<td width="20%"><b>Time</b></td>' +
                                                          '</tr>' ;
                                                          //"<tbody width='100%' >" ;

    fList = ctx._arrayResult;
      //var strFileTblLines = "";
      //var strFileTblLine  = "";
                for (var i =  0; i < fList.length; i++)  
                {
                  strFileSystem += '<tr width="100%" class="sortable" ng-repeat="file in FM.curFiles | orderBy:\'folder\'">' +
                   '<td width="10%"><input type="checkbox" value="{{file.name}}" ng-model="file.selected"></td>'  +
                   '<td width="10%">type</td>' +
                   '<td width="40%"ng-click="FM.clickFile(file)">' + fList[i] + '</td> ' +
                   '<td width="20%">size</td>' +
                   '<td width="20%">time</td>' +
                  '</tr>' ;
                  //strFileTblLines += strFileTblLine;
                }
      strFileSystem += 
                                    //"</tbody>" +
                                  "</table>" ;
    document.getElementById("filesystem").innerHTML = strFileSystem;

  });


  function sendMessage() {
    socket.emit("message", "HELLO WORLD");
  }

</script>
-->

</body>
</html>
